<app-header [hasSearch]="false"></app-header>

<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="flex flex-column align-items-center mb-6">
        <div class="text-900 text-4xl mb-4 font-medium">Your cart total is ${{ totalCartPrice() }}</div>
        <p class="text-600 font-medium text-xl mt-0 mb-4">FREE SHIPPING AND RETURN</p>
    </div>
    
        <ul *ngFor="let prod of productsToShow;" class="list-none p-0 m-0">
            <li
                class="flex flex-column md:flex-row py-6 border-top-1 border-bottom-1 surface-border md:align-items-center">
                <img class="w-12rem flex-shrink-0 mx-auto md:mx-0" [src]="prod.image" alt="">
                <div class="flex-auto py-5 md:pl-5">
                    <div
                        class="flex flex-wrap align-items-start sm:align-items-center sm:flex-row sm:justify-content-between surface-border pb-6">
                        <div class="w-full sm:w-6 flex flex-column">
                            <span class="text-900 text-xl font-medium mb-3">{{ prod.type }}</span>
                            <span class="text-600">{{ prod.size }}</span>
                        </div>
                        <div class="w-full sm:w-6 flex align-items-start justify-content-between mt-3 sm:mt-0">
                            <div>
                                <p-dropdown [options]="quantityOptions" [(ngModel)]="selectedQty">{{ prod.quantity }}</p-dropdown>
                            </div>
                            <div class="flex flex-column sm:align-items-end">
                                <span *ngIf="!prod.availability else outofstock" class="text-900 text-xl font-medium mb-2 sm:mb-3">${{ '--' }}</span>
                                <a (click)="deleteProduct(prod)" class="cursor-pointer text-600 font-medium text-sm hover:text-600 transition-colors transition-duration-300"
                                    tabindex="0"><i class="pi pi-trash text-600 mr-2 delete"></i> Remove</a>
                                    <ng-template #outofstock>
                                        <span class="text-900 text-xl font-medium mb-2 sm:mb-3">${{ prod.price }}</span>
                                    </ng-template>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-column">
                        <span class="inline-flex align-items-center mb-3">
                            <i class="pi pi-envelope text-600 mr-2"></i>
                            <span class="text-600 mr-2">Order today.</span>
                        </span>
                        <span class="inline-flex align-items-center mb-3">
                            <i class="pi pi-send text-600 mr-2"></i>
                            <span class="text-600 mr-2">Delivery by <span class="font-bold">{{ deliveryDate() }}</span></span>
                        </span>
                        <span *ngIf="prod.availability; else notAvailable" class="flex align-items-center">
                            <i class="pi pi-check text-600 mr-2 is-favourite"></i>
                            <span class="text-600">Available</span>
                        </span>
                        <ng-template #notAvailable>
                            <span class="flex align-items-center">
                                <i class="pi pi-times text-600 mr-2 not-favourite"></i>
                                <span class="text-600">Not available</span>
                            </span>
                        </ng-template>
                    </div>
                </div>
            </li>
        </ul>
        <div class="flex">
            <div class="w-12rem hidden md:block"></div>
            <ul class="list-none py-0 pr-0 pl-0 md:pl-5 mt-6 mx-0 mb-0 flex-auto">
                <li class="flex justify-content-between mb-4">
                    <span class="text-xl text-900">Subtotal</span>
                    <span class="text-xl text-900">${{ totalCartPrice() }}</span>
                </li>
                <li class="flex justify-content-between mb-4">
                    <span class="text-xl text-900">Shipping</span>
                    <span class="text-xl text-900">{{ 'free' }}</span>
                </li>
                <li class="flex justify-content-between mb-4">
                    <span class="text-xl text-900">VAT</span>
                    <span class="text-xl text-900">$ {{ totalVat() }}</span>
                </li>
                <li class="flex justify-content-between border-top-1 surface-border mb-4 pt-4">
                    <span class="text-xl text-900 font-bold text-3xl">Total</span>
                    <span class="text-xl text-900 font-bold text-3xl">$ {{ totalWithVatPrice() }}</span>
                </li>
                <li class="flex justify-content-end">
                    <button pButton pRipple label="Check Out"></button>
                </li>
            </ul>
        </div>
</div>