.is-favourite {
    &::before {
        color: rgb(232, 20, 20);
    }
}

.is-added {
    &::before {
        color: rgb(10, 172, 10);
    }
}

.image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    border-radius: 8px;
}

.img-thumbnail {
    width: 100%;
    padding-top: 137%;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.select {
    cursor: pointer;
    align-items: center;
    text-align: center;
    position: relative;
}